.weather-app {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #2b3966;
  border-radius: 5px;
}

body {
  font-family: "Krub", sans-serif;
}
h1 {
  color: #3366ff;
  font-weight: 900;
  font-size: 70px;
  margin: 20px;
  text-align: center;
}
h2 {
  color: #3054c9;
  font-weight: bolder;
  font-size: 55px;
  margin: 20px;
  text-align: center;
  margin-bottom: 5px;
  text-transform: capitalize;
}
h3 {
  color: #2b3966;
  font-weight: bolder;
  font-size: 20px;
  margin: 20px;
  margin-top: 0px;
  margin-bottom: 40px;
  text-align: center;
}
h4 {
  color: #3054c9;
  font-weight: 900;
  font-size: 100px;
  text-align: center;
  margin-bottom: 40px;
}

ul {
  margin: 0;
  padding: 00;
  margin-top: 25px;
}
li {
  margin-top: 25px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: #2b3966;
  text-transform: capitalize;
}

form {
  box-sizing: border-box 300 100;
  text-align: center;
  padding: 10px 20px;
  margin: 20px;
}
.card {
  height: 180px;
  padding-bottom: 5px;
}
.weather-forecast {
  color: #3366ff;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  margin-top: 2px;
  margin-bottom: 10px;
}
.card-img-top {
  padding: 10px;
  height: 90px;
  margin-bottom: 2px;
}
.card-body {
  margin: 5px;
  padding: 10px;
  padding-top: 0px;
}
.row {
  margin-bottom: 20px;
  padding-bottom: 20px;
  width: 800;
  height: 300;
}
.container {
  width: 800px;
  height: 600px;
}
.author {
  text-align: center;
  color: #2b3966;
  margin-top: 80px;
}
.main-icon img {
  width: 120px;
  margin-left: 70px;
}
.units {
  color: black;
  font-weight: 600;
  font-size: 20px;
  position: relative;
  top: -50px;
}
.units a:link {
  text-decoration: none;
}
